/*
 * FLPR overlay for display driver
 *
 * - Enables GPIO Port 1 for 8-bit parallel display interface
 * - Defines shared framebuffer memory region (matches CPU app overlay)
 */

&gpio1 {
	status = "okay";
};

&gpiote20 {
	status = "okay";
};

/ {
	soc {
		reserved-memory {
			#address-cells = <1>;
			#size-cells = <1>;

			sram_framebuffer: memory@20040000 {
				reg = <0x20040000 0x26000>;
			};
		};
	};
};
